*{
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    width: 25rem;
    height: 17rem;
    justify-content: center;
    align-items: center;
    border: 0px solid white;
    border-radius: 5%;
    padding: 1rem .1rem;
    box-shadow: 1px 1px  10px rgb(15, 15, 15) inset;
}

.btns{
    border: 0px solid;
    height: 5rem;
    width: 7rem;
    background-color: rgb(246, 247, 246);
    border-radius: 25%;
    font-size: 3rem;
    box-shadow: 1px 1px  10px rgb(15, 15, 15) inset;

}