* {
    background-color: #f1faee;
}


span {
    font-size: 2rem;
    margin-left: 2rem;
    line-height: 5rem;
    background-color: #457b9d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


table,
tr,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    border: 0px solid transparent;
}

#roleTable td {
    font-size: 1rem;
    padding: 21px 22px 21px 22px;
    text-align: center;
}

#userTable td {
    font-size: 1rem;
    padding: 1.7rem 1.92rem 1.7rem 1.92rem;
    text-align: center;
}

#parentTable td {
    font-size: .9rem;
    padding: 1.3rem .2rem 1.3rem .2rem;
    text-align: center;
}

button {
    border: 1px solid red;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 15px 5x 15px 5px;
    width: 3.5rem;
}



h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #14213d;
    color: white;
    padding: 10px 0px 10px 0px;
}

a {
    border: 0px solid transparent;
    border-radius: 10px;
    background-color: #457b9d;
    text-decoration: none;
    color: #fff;
}

#Roles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #457b9d;
    width: 100%;
    margin-top: -1.3rem;
    margin-bottom: 1rem;
}


@media screen and (max-width: 360px) {
    * {
        margin: 0;
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 22px;
    }

    #Roles {
        grid-template-columns: 1fr;
    }

    span {
        font-size: 1.5rem;
        margin-left: 10px;
        margin-right: 0px;
        line-height: 2rem;

    }

    #roleTable {
        margin-left: 5px;
    }

    #roleTable td {
        font-size: 6.75px;
        padding: 10px 1px 10px 1px;
        font-weight: bold;
        overflow: hidden;
    }
    #userTable td{
        font-size: 7.35px;
        padding: 14px 1px 14px 0px;
        font-weight: bold;
        overflow: hidden;
    }
    #parentTable td{
        font-size: 2.8px;
        padding: 14px 2.2px 14px 2.2px;
        font-weight: bold;
        overflow: hidden;
    }

    button {
        border: 1px solid red;
        border-radius: 10px;
        background-color: black;
        color: white;
        padding: 4px 1px 4px 1px;
        width: 1rem;
        font-size: 5px;
        text-align: center;
    }
}