* {
    margin: 0 1rem;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 0px 10px 0px;
}

span {
    font-size: 2rem;
    margin-right: 2rem;
    line-height: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table,
tr,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    font-size: 22px;
    padding: 16px 5px 16px 5px;
    text-align: center;
}

button {
    border: 1px solid red;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 15px 5x 15px 5px;
    width: 4rem;
}

@media screen and (min-width: 360px) {
    * {
        margin: 0rem 0rem;
    }

    h1 {
        font-size: 3rem;
    }

    span {
        font-size: 3rem;
        margin-left: 30px;
        margin-right: 0px;
    }

    #roleTable {
        margin-left: 5px;
    }

    #roleTable td {
        font-size: 18px;
        padding: 40px 8px 40px 8px;
        font-weight: bold;
    }

    button {
        border: 1px solid red;
        border-radius: 10px;
        background-color: black;
        color: white;
        padding: 15px 1x 15px 1px;
        width: 3rem;
        font-size: 10px;
        text-align: center;
    }
}